<a href="https://colab.research.google.com/github/Misbah1319/Data_Science_Internship/blob/main/Level2_task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df=pd.read_excel("Dataset .xlsx")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [12]:
#New Feature : Restaurant_Name_Length
#Create a new feature that stores the length of each restaurant name
df['Restaurant_Name_Length']=df['Restaurant Name'].str.len()
#Display restaurant name and its length
df[['Restaurant Name','Restaurant_Name_Length']].head()

          Restaurant Name  Restaurant_Name_Length
0        Le Petit Souffle                    16.0
1        Izakaya Kikufuji                    16.0
2  Heat - Edsa Shangri-La                    22.0
3                    Ooma                     4.0
4             Sambo Kojin                    11.0

In [13]:
#New feature:Address_Length
#Create a new feature that stores the length of each address
df['Address_Length']=df['Address'].str.len()
#Display address and its length
df[['Address','Address_Length']].head()

                                             Address  Address_Length
0  Third Floor, Century City Mall, Kalayaan Avenu...              71
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3  Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...              64

In [14]:
#Encode Yes and No values into numeric format
#Yes-1(Table booking available)
#No-0(Table booking not available )
df['Has_Table_Booking']=df['Has Table booking'].map({'Yes':1,'No':0})
df[['Has Table booking','Has_Table_Booking']].head()

  Has Table booking  Has_Table_Booking
0               Yes                  1
1               Yes                  1
2               Yes                  1
3                No                  0
4               Yes                  1

In [17]:
df['Has_online_Delivery']=df['Has Online delivery'].map({'Yes':1,'No':0})
df[['Has Online delivery', 'Has_online_Delivery']].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Restaurant ID           9551 non-null   int64
 1   Restaurant Name         9551 non-null   object
 2   Country Code            9551 non-null   int64
 3   City                    9551 non-null   object
 4   Address                 9551 non-null   object
 5   Locality                9551 non-null   object
 6   Locality Verbose        9551 non-null   object
 7   Longitude               9551 non-null   float64
 8   Latitude                9551 non-null   float64
 9   Cuisines                9542 non-null   object
 10  Average Cost for two    9551 non-null   int64
 11  Currency                9551 non-null   object
 12  Has Table booking       9551 non-null   object
 13  Has Online delivery     9551 non-null   object
 14  Is delivering now       9551 non-null   object
 15  Switch to order menu    9551 non-null   object
 16  Price range             9551 non-null   int64
 17  Aggregate rating        9551 non-null   float64
 18  Rating color            9551 non-null   object
 19  Rating text             9551 non-null   object
 20  Votes                   9551 non-null   int64
 21  Restaurant_Name_Lenght  9550 non-null   float64
 22  Restaurant_Name_Length  9550 non-null   float64
 23  Address_Length          9551 non-null   int64
 24  Has_Table_Booking       9551 non-null   int64
 25  Has_online_Deliver      9551 non-null   int64
 26  Has_online_Delivery     9551 non-null   int64
dtypes: float64(5), int64(9), object(13)
memory usage: 2.0+ MB