<a href="https://colab.research.google.com/github/Misbah1319/Data_Science_Internship/blob/main/Level2_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.read_excel('/content/Dataset .xlsx')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [3]:
#Count total number if restaurants (total rows)
total_restaurants=len(df)
print("Total number of restaurants:",total_restaurants)

Total number of restaurants: 9551

In [4]:
#Filters restaurants that have table booking ='Yes'
table_booking_yes=df[df['Has Table booking']=='Yes'].shape[0]

In [8]:
#Calculate percentage of restaurants offering table booking
table_booking_percentage=(table_booking_yes/total_restaurants)*100

In [7]:
#Filters restaurants that have online delivery ='Yes'
online_delivery_yes=df[df['Has Online delivery']=='Yes'].shape[0]
#Calculate percentage of restaurants offering online delivery
online_delivery_percentage=(online_delivery_yes/total_restaurants)*100
print("Percentage of restaurants offering table booking:",table_booking_percentage)
print("Percentage of restaurants offering online delivery:",online_delivery_percentage)

Percentage of restaurants offering table booking: 12.124384881164275
Percentage of restaurants offering online delivery: 25.662234321013504

In [9]:
#Compare average ratings with vs without table booking
#select retaurants that provide table booking
with_table_booking=df[df['Has Table booking']=='Yes']

In [10]:
#calculate average rating for restaurants with table booking
avg_rating_with_booking=with_table_booking['Aggregate rating'].mean()

In [11]:
#Select restaurants that do not provide table booking
without_table_booking=df[df['Has Table booking']=='No']
#Calculate average rating for restaurants without table booking
avg_rating_with_booking=without_table_booking['Aggregate rating'].mean()
print("Average rating for restaurants with table booking:",avg_rating_with_booking)
print("Average rating for restaurants without table booking:",avg_rating_with_booking)

Average rating for restaurants with table booking: 2.559358989634219
Average rating for restaurants without table booking: 2.559358989634219

In [13]:
#Display unique price range values
df['Price range'].unique()
#Group restaurants by price range & online delivery availability
price_range_delivery=df.groupby(['Price range','Has Online delivery']).size()
#Convert grouped data into a clean table
price_range_delivery=price_range_delivery.reset_index(name='Restaurant Count')
print(price_range_delivery)

   Price range Has Online delivery  Restaurant Count
0            1                  No              3743
1            1                 Yes               701
2            2                  No              1827
3            2                 Yes              1286
4            3                  No               997
5            3                 Yes               411
6            4                  No               533
7            4                 Yes                53